@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html{
    font-family: Lato, sans-serif;
}

*{
    font-family: inherit;
}


table{
    width: 100%;
    margin: 1.5rem 1rem;
    /* border-spacing: 1px; */
    border-collapse: collapse;
}

table, table th, table td{
    border: 1px solid #ccc;
}

table th, table td{
    padding: 1em 1.2em;
}

table thead th{
    text-align: left;
    background: #ddd;
}

table tbody tr:nth-child(odd) td{
    background: #eee;
}