*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html{
    font: 20px/1.5 "PT Sans", sans-serif;
}

body, input, textarea, table{
    font:inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "PT Serif";
}

h1 { font-size:2.8em; }
h2 { font-size:2.2em; }
h3 { font-size:1.8em; }
h4 { font-size:1.4em; }
h5 { font-size:1.2em; }
h6 { font-size:1.0em; }

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    height: auto;   
}

/* ------------------------------------------------------- */

body{
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    
    /* винаги ще разпъва изображението */
    background-size: 100%;
    background-position: top  center;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
}

.site-section.banner .container{
    border: 2px solod black;
    color: #fff;
}

.site-section.banner h2{
    font-size: 3.4em;
    font-weight: normal;
    line-height: 1.26;
    margin-bottom: 1rem;
}

.site-section.banner p{
    max-width: 790px;
    font-size: 1.2em;
}

.site-section.banner{
    padding-bottom: 12em;
}

.site-section{
    padding: 2em;
}

.site-header{
    display: flex;
    
    /* nav и div class = site title отиват в двата края на контейнера */
    justify-content: space-between;
}

.site-header nav ul{
    display: flex;
}

.site-header nav a{
    color: white;
    padding: 0 0.5em;
}

.site-title{
    width:130px;
    height: 110px;
    overflow: hidden;
    text-indent: -200vw;
    background-image: url('images/logo.webp');
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

.column h2{
    font-size: 2.5em;
    padding: 1.3em 0 0.3em 0;
    font-weight: 500;
}

.column p{
    font-size: 0.75em;
    line-height: 1.8;
    padding-bottom: 2em;
}

.column .button{
    border: 1px solid #B0825C;
    padding: 0.5em 1em;
    color: #B7865C;
    border-radius: 0.1em;    
}


.site-section.columns {
    border-bottom: 2px solid #ccc;
    background: white;
    padding-bottom: 5em;
}

.site-section.sponsors,
.site-section.partners{
    background: white;
    text-align: center;
    
}

.sponsors{
    display: flex;
    gap: 2em;
    justify-content: center;
    padding-top: 2em;
}

.sponsors li{
    display: block;
    width: 7em;
    aspect-ratio: 1/1;
    background: #eee;
    border-radius: 50%;
    padding: 1em;
}

.sponsors h2{
    color: #B0835E;
    font-family: "PT Sans";
    font-weight: 500;
}

.partners{
    padding: 0 0 3em 0;
}

.partners h2{
    color: #B0825C;
    font-weight: 500;
}

.site-section.sponsors p,
.site-section.partners p {
    font-family: "PT Sans";
    font-size: 0.8em;
    opacity: 70%;
}

.sponsors li a img{
    display: block;
    width: 100%;
    height: auto;
}

.site-footer{
    background:#171720;
    color: white;
}

.site-footer:last-child{
    border-top: 2px solid rgb(255, 255, 255, 0.3);
}

.site-footer p{
    font-size: 0.6em; 
    opacity: 70%;
    padding: 1em;
}

.column-container{
    display: flex;
    gap: 2em;
}

.site-footer .column ul li{
    text-transform: uppercase;
    font-size: 0.6em;
    line-height: 3;
    opacity: 70%;
}

.site-footer .column h4{
    font-size: 1em;
    padding-bottom: 1em;
  }
