@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html{
    font-family: Lato, sans-serif;
}

.banner{
    background: #fff;
    border-radius: 0.3em;
    box-shadow: 0 0 1em 0 rgb(0,0,0, 0.1);
    padding: 2em;
    color: #666;
    display: flex;
    gap: 3em;
}

.banner h1,
.banner h3{
    line-height: 1.1;
    color: #333;
}

.banner h3{
    opacity: 0.5;
    padding-bottom: 0.2rem;
}

banner h1{
    padding-bottom: 0.5rem;
}

.content{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.media {
    flex: 1 0 200px;
    border-radius: 0.3em;
    overflow: hidden;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.media img{
    display: block;
    width: 100%;
    height: auto;
    border: 2x solid #fff;
    border-radius: 0.3em;
}

.cta{
    margin-top: auto;
    display: flex;
    gap: 1em;
}

.button{
    display: block;
    background: #eee;
    padding: 0.8em 1.8em;
    border-radius: 0.4em;
    color: #666;
    text-decoration: none;
    font-weight: bold;
}

.button.primary{
    background: purple;
    color: white;
}

@media(max-width: 600px){
   .banner{
    flex-direction: column;
    gap: 1em;
   }

   .media{
    flex-basis: 300px;
    order: -1;
   }
    
}