@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 14px/1.5 'Gochi Hand', sans-serif;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

body{
    background: #E0E0E0;
    padding: 2em;
}

.container{
    max-width:1000px;
    margin: 0 auto;
    
    background: #FDFDFD;
    border-radius: 1.5em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0 , 0.4);
    display: flex;
    flex-direction: column;
}

.section-card{
    border-bottom: 1px solid gray;
}

.picture{
    padding: 2em;    
    position: relative;
}

.picture img { 
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    
}

.picture .content{    
    padding: 0.5em;
    position: absolute;
    background: #F4F4F4;
    border-radius: 1.5em;
    text-align: center;
    top:26.5rem;
    margin: 2em;
    left: 2rem;
    right: 2rem;
}

.content h2{
    text-align: center;
    padding: 0.5em 0;
}

.content p{
    text-align: center;
    padding: 0 1em 1em;
}

.receiver{
    padding: 2em;
}

.receiver h2{
    padding-bottom: 0.5em;
}

.receiver p{
    padding-top: 0.5em;
}



