body{
    font-family: 'Courier New', Courier, monospace;
    background: #eee
}

.header {
    text-decoration: underline;
}

#header {
    background: firebrick;
    color: #fff;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}