h2 {
    font-size: 1.2em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
    
    /* по този начин получавме чертичката под Login, която не е разпъната до края
    а е дълга колкото текста над нея */
    display: inline-block;
}

label{
    display: block;
    font-weight: bold;
    padding-bottom: 0.2em;
    transition: translate 0.2s ease-in;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    display: block;
    width: 100%;
    padding: 0.8em 0;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
}

input[type="text"]:user-invalid,
input[type="email"]:user-invalid,
input[type="password"]:user-invalid{
border-color: #c00;
}

input[type="text"]:user-valid,
input[type="email"]:user-valid,
input[type="password"]:user-valid{
border-color: green;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus{
border-color: orange;
}

button{
    display: block;
    width: 100%;
    border: none;
    background: orange;
    color: #fff;
    border-radius: 0.2em;
    font-weight: bold;
    padding: 0.8em 1em;
}

.field{
    margin-top: 1em;
    padding-bottom: 1.5em;

    display: flex;
    flex-direction: column;
    position: relative;
}

.field .icon{
    position:absolute;
    top: 0;
    right: 0;
}

.field label{
    order: -1;
 
 /* по този начин label минава точно върху placeholder и го припокрива */
    position:absolute;
    top: 0.8em;
    left: 0em;
}

.field input::placeholder{
   /* правим така че полето да не се вижда */
    color:transparent;
}

.field input:not(:placeholder-shown) ~ label{
     translate: 0 -1.5em;
}

.field input:required ~ label::after{
    content:'*';
    color: #c00;
    margin-left: 0.3em;
}

.field input:user-invalid ~ .icon,
.field input:user-invalid ~label{
    color: #c00;   
}

.field input:user-valid ~ .icon,
.field input:user-valid ~label{
    color: green;   
}

.field input:focus ~ .icon,
.field input:focus ~label{
    color: orange;   
}

.field .helper{
    display: block;
    font-size: 0.85em;
    opacity: 0.7;
    padding: 0.1em 0 0.2em 0;
}

.container{
    /* По този начин - 100vw, е responsive. 
    ако зададем em или px при събиране ще получим скролер */
    width: 100vw;
    max-width: 25em;
}