@media (width <= 600px)
{
    nav ul{
        display: none;
    }
    
    .checkbtn{
        display: block;
        order:20;
    }
    
    /* резетваме позицията на сърцето и заглавието/ */
    .site-header > i, h1{
        text-align: initial;
        position: initial;
        bottom: initial;   
    }
    
    
    /* центрираме ги в секцията */
    section.site-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    

    section.about{
        display: flex;
        gap: 1em;
    }
    
    section.about .about-header,
    section.about .about-text {
        flex: 1 1 50%;
    }
    
    section.about .about-header {       
        /* reset */
        text-align: left;
        width: auto;
        position: static;
        display: flex;
        
        /* new style */
        /* центрираме иконата и About */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    section.about .about-text{
        /* reset */
        display: block;
        width: auto;
        margin: 0;        
    }

    .gallery{
        text-align: center;
    }
}
