body{
    background: white;
    padding: 4em;
}

.icons{
    display: flex;
    gap: 2em;
    align-items: center;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4em;
    aspect-ratio: 1/1;
    text-decoration: none;
    background-color: #eee;
    border-radius: 50%;
    color: black;  
}

i{
    font-size: 1.5em;
}

.icon:hover{
    background: pink;
    color:#fff;
}