/* adaptive for mobile and desktop */

.site{
    background:white;
    box-shadow: 0 0 1em 0 rgb(0,0,0, 0.1);
    border-radius: 0.3em;
    padding: 2em;
    max-width: 60em;
    /* 6em * 16px = 960px  */
    margin: 0 auto;    
}

.site-header,
.content-main,
.content-aside,
.site-footer{
    border: 1px solid #ccc;
    border-radius: 0.3em;
    padding: 1.5em 2em;
}

.site-content{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em 0;
}

.content-main{
flex: 1 1 450px;
}

.content-aside{
flex: 1 1 250px;
}

