@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html{
    /* font-size:16px Line-height -1.5, Font-family - Helvetica, sans-serif */
    font: 12px/1.5 Lato, Helvetica, sans-serif; 
}

@media (min-width: 600px){
    html{font-size: 14px;}
}

@media (min-width: 1000px){
    html{font-size: 16px;}
}

@media (min-width: 1400px){
    html{font-size: 18px;}
}

p, ul, ol
{
    padding-bottom: 1.5rem;
}

ol, ul {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6{
    line-height: 1.1;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, serif;
}

h1{font-size: 3.0em;}
h2{font-size: 2.2em;}
h3{font-size: 1.8em;}
h4{font-size: 1.4em;}
h5{font-size: 1.2em;}
h6{font-size: 1.0em;}


blockquote{
    padding-left: 1.5rem;
    border-left: 5px solid rgb(0,0,0,0.4);
    font-style: italic;
    
    /* margin: 0 2em 1.5em 3em; */
    margin-bottom: 1.5rem;
    margin: 0 3em;   
}

blockquote p:last-child{
    padding-bottom: 0;
}

blockquote .author{
    text-align: right;
}

table{
    width: 100%;
    margin: 1.5rem 0;
    /* border-spacing: 1px; */
    border-collapse: collapse;
}

table, table th, table td{
    border: 1px solid #ccc;
}

table th, table td{
    padding: 1em 1.2em;
}

table thead th{
    text-align: left;
    background: #ddd;
}

table tbody tr:nth-child(odd) td{
    background: #eee;
}