.container{
    border: 1px solid grey;
    margin: 20px;
    padding: 20px;
}

div p {
    color: darkblue;
}

ul >li {
    list-style-type: circle;
}

ul{
    padding-left: 20px;
}

p + p {
    background-color: #eee;
}

p ~ span {
    font-weight: bold;
}

span{
    color:red;
}