@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font: 12px/1.5 'Source Sans 3', sans-serif ;
}

body, input, textarea, button {
    font:inherit;
}

body{
    background:#F6F6F6;
    
    /* слагаме минимална височина, за да можем да центрираме контейнера */
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

a{
    color: #585858;
}

.container{
    display: flex;
    gap: 2em;
    
    /* Трябва да зададем width:100%; и max-width за да разпънем контейнера, 
    иначе той ще се стреми да заема възможно най-малко място в body, 
    заради align-items: center и justify-content:center */
    width: 100%;
    max-width: 1280px;    
}

main {
    flex: 1 1 auto;
}

aside {
    flex: 0 0 260px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #585858;
}

form{
    padding-top: 2em;
}

input, textarea{
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    padding: 0.5em 0;
    border-bottom: 1px solid #D6D6D6;
    margin-bottom: 2em;
}

button {
    display: inline-block;
    border: none;
    border-radius: 0.2em;
    background: #585858;
    color: #fff;
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    margin-bottom: 4em;
}

.flex-row{
    display: flex;
    gap: 1.5em;
}

.socials{
    padding-top: 2em;
    display: flex;
    gap: 0.4em;
    flex-wrap: wrap;
}

.socials li{
   /* за да бъдат квадратчетата еднакви */
    display: flex;
    flex: 0 0 5em;
    aspect-ratio: 3/2;
    
    border: 1px solid #ccc;    
    line-height: 1;
    border-radius: 0.1em;
}

.socials li a {
    text-decoration: none;
    font-size: 1.4em;
    
    /* тези свойства са за да бъдат центрирани иконите */
    display: flex;
    flex: 1 1 auto;    
    align-items: center;
    justify-content: center;
}