
html{
    font-size: clamp(11px, 3vw, 16px);
    line-height: 1.4;
    font-family: Georgia, serif;
}

body, input, select, textarea, table, button{
    font:inherit;
}

p{
    padding-bottom: 1.5em;
}

h1,h2,h3, h4{
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-weight: bold;
    border-bottom: 0.2rem solid black;
}

h1 {font-size: 1.7em;}
h2 {font-size: 1.4em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}

blockquote{
    padding-left: 3em;
    border-left: 2px solid rgb(0, 0, 0, 0.2);
    font-style: italic;
    font-size: 0.9em;
    margin: 0 1 em;;
    margin-bottom: 1.5em;
}

blockquote p:last-child{
    padding-bottom: 0;
}